<div class="center jumbotron">
  <h1>Pass or Pursue</h1>

  <%= link_to 'Candidates submissions', controller: 'submissions' %>

  <h5>
    Ideally this page should become the login page username/password, with an option to sign up. <br>
    Users with an email matching *@covata.com would be granted permission to view and review submissions and other's
    comments <br>
    Users with any other email would be able to sign up, login, and post a submission.<br>
  </h5>

  <%= link_to "Sign up now!", signups_path, class: "btn btn-lg btn-primary" %>

</div>
