<p> <%= link_to 'Add a submission', new_submission_path %></p>

<h1>All code submissions <%= image_tag('allthethings.png', alt: '(allthethings)') %></h1>

<table>
  <tr>
    <th>Submission ID</th>
    <th>Candidate Email</th>
    <th>Link to submission</th>
    <th>Submission file</th>
    <th>Submission Reviews</th>
    <th></th>
  </tr>

  <% @submissions.each do |submission| %>
      <tr>
        <td> <%= link_to '#' + submission.id.to_s, submission_path(submission) %></td>
        <td><%= submission.getCandidateEmail %></td>
        <td>
          <% if submission.link.present? %>
              <%= link_to submission.link, url_with_protocol(submission.link) %></td>
          <% else %>
              -
          <% end %>
          <td>
            <% if submission.filename.present? %>
                <%= submission.filename %></td>
            <% else %>
                -
            <% end %>
            <td>
              <% if submission.reviews.present? %>
                  <% submission.reviews.first(2).each do |review| %>
                      <p>
                        <strong>Reviewer:</strong> <%= review.getReviewerEmail %>
                        <strong>Verdict:</strong> <%= review.verdict %>
                        <%= link_to 'Full review', {controller: 'reviews', action: 'show', submission_id: submission.id, id: review.id} %>
                      </p>
                  <% end %>
                  <p><%= link_to 'See all reviews', submission_reviews_path(submission) %></p>
              <% else %>
                  No review yet :(
              <% end %>
            </td>
            <td><%= link_to 'Write a review', {controller: 'reviews', action: 'new', submission_id: submission.id} %></td>
            </tr>
  <% end %>
</table>