<h1>New submission</h1>

<h2>You can upload and/or provide a link to your submission.</h2>

<%= form_for :submission, url: submissions_path do |f| %>

    <% if @submission.errors.any? %>
        <div id='error_msg'>
          <h2>
            <%= pluralize(@submission.errors.count, 'error') %> prohibited
            this submission from being saved:
          </h2>
          <ul>
            <% @submission.errors.full_messages.each do |msg| %>
                <li>
                  <%= "#{msg}" %>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.file_field :file %>
    </p>

    <p>
      <%= f.label :link %>
      <%= f.text_area :link %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<p>
  <%= link_to 'Go back to all submissions', submissions_path %>
</p>