<p>
  <strong>Candidate:</strong>
  <%= @submission.user_id %>
</p>

<p>
  <strong>Submission title:</strong>
  <%= @submission.filename %>
</p>

<p>
  <strong>Submission link:</strong>
  <%= link_to @submission.link, url_with_protocol(@submission.link) %></a>
</p>

<p>
  <%= link_to 'See Reviews', submission_reviews_path(@submission) %>
</p>

<p>
  <%= link_to 'Go back to all submissions', submissions_path %>
</p>