// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  width: 100%;
}

td {
  height: 50px;
  text-align: left;
  padding: 15px;
}

th {
  padding: 15px;
  text-align: left;
  background-color: lightblue;
}

tr:nth-child(even) {
  background-color: #efefef;
}