<h1>Edit review <%= @review.id %></h1>

<%= form_for :review, url: submission_review_path(@review.submission, @review), method: :patch do |f| %>
    <p>
      <%= f.label :verdict %>
      <%= f.collection_select :verdict, Review::VERDICT, :to_s, :to_s %> <br>
      <%= f.label :feedback %>
      <%= f.text_area :feedback %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Cancel and go back to review', submission_review_path(@review.submission, @review) %>