<p>All reviews for submission <%= link_to @submission.id, submission_path(@submission) %> </p>

<table>
  <tr>
    <th>Reviewer</th>
    <th>Verdict</th>
    <th>Feedback</th>
    <th colspan="1"></th>
  </tr>

  <% @submission.reviews.each do |review| %>
      <tr>
        <td><%= review.getReviewerEmail %></td>
        <td><%= review.verdict %></td>
        <td><%= review.feedback %></td>
        <td><%= link_to 'Edit review', edit_submission_review_path(review.submission, review) %></td>
      </tr>
  <% end %>
</table>