<p>Please enter your feedback and verdict here. Thanks :)</p>

<%= form_for :review, url: submission_reviews_path do |f| %>
    <p>
      <%= f.label :verdict %>
      <%= f.collection_select :verdict, Review::VERDICT, :to_s, :to_s %> <br>
      <%= f.label :feedback %>
      <%= f.text_area :feedback %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>