<h1>Review of submission <%= @review.submission.id %></h1>

<p>
  <strong>Reviewer:</strong> <%= @review.getReviewerEmail %>
</p>

<p>
  <strong>Verdict:</strong> <%= @review.verdict %>
</p>

<p>
  <strong>Feedback:</strong> <%= @review.feedback %>
</p>

<p>
  <%= link_to 'See submission ' + @review.submission.id.to_s, submission_path(@review.submission) %>
</p>

<p>
  <%= link_to 'Back to submissions', submissions_path %>
</p>